/*-------------------------------- RESET CSS ---------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/*============================ END RESET CSS =======================================*/

html, body{
	margin: 0;
	padding: 0;
	color: #555;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

/* ----------------- LOADER PURE CSS ------------------ */
    #loaderBIGOuter {
        position: fixed;
        z-index: 77;
        background-color: rgba(0, 30, 57, 0.93); /*#001E39;*/
        height: 100%;
        width: 100%;
        text-align: center;
        top: 0px;
    }
    #loaderBIGInner {
        position: relative;
        margin: 0px auto;
        display: block;
        top: 35%;
    }
    #loaderBIGInner img {
		display: block;
		margin: 12px auto;
		height: 40px;
		width: auto;
    }

    .loaderCSS {
        margin: 0px auto;
        font-size: 5px;
        position: relative;
        text-indent: -9999em;
        border-top: 0.7em solid rgba(255, 255, 255, 0.1);
        border-right: 0.7em solid rgba(255, 255, 255, 0.1);
        border-bottom: 0.7em solid rgba(255, 255, 255, 0.1);
        border-left: 0.7em solid #00D0FF;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load8 0.30s infinite linear;
        animation: load8 0.30s infinite linear;
    }
    .loaderCSS,
    .loaderCSS:after {
        border-radius: 50%;
        width: 5em;
        height: 5em;
    }
    @-webkit-keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    /* ----------------- END LOADER PURE CSS ------------------ */

.section {
	display: table;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.sectionMenu {
	background: #001E39;
	border-bottom: 1px solid #00E777;
}

.sectionHeader {
	background-image: url('../img/headerBackground.jpg');
	background-size: cover;
	max-height: 700px;
	height: 60vh;
	width: 100%;
}

.sectionNewsletter {
	padding: 10px 0px;
}

.sectionTestimonials {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.sectionFooter {
	color: #f7f7f7;
}

.sectionInnerFooter {
	margin: 10px auto !important;
}

.sectionLogos {
	background: #eeeeee;
}

.sectionGray {
	background: #f7f7f7;
}

.sectionBlue {
	background: #001E39;
}

.sectionPadding {
	padding: 50px 0px;
}

.sectionInner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.logo {
	display: table;
	margin: 20px;
}

.logo img {
	width: 110px;
}

.haederH1 {
	font-size: 50px;
	line-height: 60px;
	color: #f7f7f7;
	text-shadow: 2px 3px #001E39;
	font-weight: bold;
	width: 90%;
	margin: 0 auto;
}

.headerH1Br {
	display: block;
}

.haederH2 {
	margin-top: 30px;
	margin-bottom: 50px;
	font-size: 25px;
	line-height: 30px;
	color: #f7f7f7;
	text-shadow: 1px 1px #001E39;
}

.tahoma {
	font-family: Tahoma, sans-serif;
}

.button {
	background: #00E777;
	color: #f7f7f7;
	font-size: 23px;
	font-weight: bold;
	padding: 20px 50px;
	border-radius: 11px;
	display: table;
	margin: 0 auto;
	text-decoration: none;
}

.button:hover {
	cursor: pointer;
}

.userSelectNone {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

input,
select,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	border: 1px solid #ddd;
	border-radius: 11px;
	font-size: 17px;
	width: 100%;
	max-width: 300px;
	padding: 15px 10px;
	margin: 0px auto;
	color: #555;
}

.headerVideoLink {
	color: #f7f7f7;
	margin: 15px auto 0px auto;
	display: table;
}

.headerVideoLink img {
	margin-right: 3px;
	height: 13px;
	width: auto;
}

.headerVideoLink span:hover {
	text-decoration: underline;
	cursor: pointer;
}

.logosImage {
	width: 90%;
	max-width: 1000px;
	margin: 15px auto;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.5;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.sectionTitle {
	font-size: 25px;
	font-weight: bold;
	color: #001E39;
}

.sectionSubtitle {
	margin: 15px auto;
}

.sportsContainer {
	display: table;
	max-width: 700px;
	width: 90%;
	margin: 40px auto 40px auto;
}

.sportsTab {
	text-align: center;
	margin: 5px;
	display: inline-block;
	background: #f3f2f1;
	padding: 15px 0;
	text-decoration: none;
	border: 1px solid #ddd;
	width: 100%;
	max-width: 200px;
}

.sportsTab:hover {
	cursor: pointer;
	background: #fff;
}

.sportsTabIcon {
	height: 70px;
	width: auto;
}

.sportsTabText {
	font-weight: bold;
	font-size: 20px;
	margin-top: 15px;
	color: #001E39;
}

.predictiveSearch {
	display: table;
	width: 90%;
	max-width: 400px;
}

.newsletterText {
	color: #fff;
	margin: 20px auto 30px auto;
	font-size: 20px;
	line-height: 23px;
	width: 90%;
}

.inputNewsletter {
	border-radius: 0;
	border-top-left-radius: 11px;
	border-bottom-left-radius: 11px;
	width: 300px;
	float: left;
	border: 0;
}

.buttonNewsletter {
	border-radius: 0;
	border-top-right-radius: 11px;
	border-bottom-right-radius: 11px;
	float: left;
	font-size: 20px;
	padding: 15px 50px;
}


.testimonialContainer {
	display: table;
	width: 100%;
	margin: 30px auto;
}

.testimonialTab {
	display: inline-block;
	padding: 0px 20px;
	margin: 20px auto;
	width: 100%;
	max-width: 300px;
	vertical-align: top;
}

.testimonialText {
	font-size: 15px;
	line-height: 20px;
	text-align: justify;
}

.testimonialStars {
	width: 100px;
	height: auto;
	margin: 10px auto;
}

.testimonialName {
	font-weight: bold;
	font-size: 15px;
	font-style: italic;
}

.howItWorksContainer {
	display: table;
	width: 100%;
	margin: 50px auto 20px auto;
	text-align: center;
}

.howItWorksHalf {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 0 auto;
	max-width: 550px;
}

.howItWorksHalf_1 {
	width: 60%;
}

.howItWorksHalf_2 {
	width: 40%;
	max-width: 400px;
}

.howItWorksH1 {
	margin: 20px auto 20px auto;
	font-size: 30px;
	font-weight: bold;
	color: #00E777;
}

.howItWorksH2 {
	font-size: 20px;
}

.howItWorksNumber {
	display: table;
	margin: 0px auto 7px auto;
	font-size: 20px;
	font-weight: bold;
	color: #f7f7f7;
	background-color: #00D0FF;
	padding: 19px 23px;
	border-radius: 100%;
}

.howItWorksText {
	max-width: 230px;
	margin: 0 auto;
	font-size: 17px;
	line-height: 20px;
}

.howItWorksLine {
	height: 40px;
	width: 2px;
	border-left: 3px dotted #00d0ff;
	margin: 10px auto;
}

.howItWorksHalf iframe {
	display: table;
	margin: 0 auto;
	max-width: 90%;
}

.footerText {
	margin: 10px auto;
	font-size: 13px;
}

.faqContainer {
	margin: 50px auto 20px 0px;
}

.faqTab {
	display: table;
	width: 90%;
	max-width: 700px;
	margin: 15px auto;
	border: 1px solid #ddd;
}

.faqQuestion {
	text-align: left;
	font-weight: bold;
	background-color: #eee;
}

.faqQuestion:hover {
	cursor: pointer;
	opacity: 0.9;
}

.faqQuestion div {
	padding: 13px 15px;
	font-size: 20px;
	line-height: 23px;
}

.faqAnswer {
	display: none;
	text-align: justify;
	font-size: 15px;
	line-height: 19px;
}

.faqAnswer div {
	padding: 10px 15px;
	background: #fff;
}

.faqTabsHidden {
	display: none;
}

#showMoreFAQ {
	text-decoration: underline;
	color: #001e39;
	font-weight: bold;
	margin-top: 35px;
}

#showMoreFAQ:hover {
	cursor: pointer;
}

.teamsContainer{
	display: table;
	margin: 40px auto 40px auto;
	width: 100%;
	max-width: 900px;
}

.teamTab {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	max-width: 20%;
	margin: 0px auto;
	font-size: 17px;
	color: #001e39;
	padding: 15px 1%;
	border: 1px solid transparent;
	text-decoration: none;
}

.teamTab:hover {
	cursor: pointer;
	background: #fff;
	border: 1px solid #ddd;
}

.pricesContainer {
	display: table;
	margin: 40px auto 40px auto;
	width: 100%;
	max-width: 1000px;
}

.pricesTab {
	display: table;
	width: 95%;
	background: #eee;
	border: 1px solid #ddd;
	margin: 20px auto;
}

.pricesTabTeamName {
	display: table;
	width: 23%;
	float: left;
	text-align: left;
	font-size: 17px;
	font-weight: bold;
	color: #001e39;
	padding: 30px 0px 30px 2%;
}

.pricesTabPricesContainer {
	display: table;
	width: 50%;
	float: left;
}

.pricesTabButtonContainer {
	display: table;
	width: 25%;
	float: left;
	padding: 15px 0px;
}

.buttonPricesSelectSeats {
	font-size: 17px;
	padding: 15px 30px;
}

.pricesTabContainerHalf {
	display: table;
	width: 50%;
	float: left;
	font-size: 17px;
	line-height: 20px;
	padding: 7px 0px 3px 0px;
}

.pricesTabContainerHalf_1 {
	padding: 20px 0px 0px 0px;
}

.priceTabOur {
	color: #00D0FF;
	font-size: 20px;
	font-weight: bold;
	margin-right: 7px;
}

.priceTabOurSmall {
	font-style: italic;
	font-size: 13px;
}

.priceTabTitle {
	margin-bottom: 5px
}

.priceTabTheir {
	font-weight: bold;
}

.pricesTab:hover {
	cursor: pointer;
	background: #001e39;
	border: 1px solid transparent;
	color: #f7f7f7;
}

.pricesTab:hover > .pricesTabTeamName {
	color: #f7f7f7;
}

.seatsContainer{
	display: table;
	margin: 60px auto 30px auto;
	width: 90%;
	max-width: 900px;
}

.seatsStadiumContainer {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	max-width: 50%;
}

.seatsStadiumContainer img {
	width: 100%;
	height: auto;
}

.seatsInfoContainer {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	vertical-align:top;
}

.seatsSelect,
.zoneSelect {
	margin: 7px auto;
}

.seatsText {
	font-size: 20px;
	margin: 10px 0px;
}

.seatsTextSmall {
	font-size: 15px;
	font-style: italic;
}

.seatsPrice {
	font-weight: bold;
}

.buttonAddToCart {
	font-size: 17px;
	padding: 15px 30px;
	margin: 20px auto 0px auto;
}

.addToCartNotify {
	border: 1px solid #00d0ff;
}

.checkoutContainer{
	display: table;
	margin: 30px auto 0px auto;
	width: 90%;
	max-width: 900px;
}

.checkoutInfo {
	width: 100%;
	max-width: 410px;
	display: inline-block;
	vertical-align: top;
}

.checkoutInputHalf {
	width: 200px;
}

.checkoutInputFull {
	width: 100%;
	max-width: 100%;
}

.checkoutInput {
	margin: 5px auto;
}

.creditCardsIcons {
	width: 195px;
	height: auto;
	display: table;
	margin: 20px auto;
}

.buttonPay,
.buttonLoginRegister {
	width: 200px;
	text-align: center;
	font-size: 17px;
	padding: 17px 0px;
	display: inline-block;
}

.checkoutSummary {
	width: 100%;
	max-width: 300px;
	display: inline-block;
	vertical-align: top;
	vertical-align: top;
	padding-top: 30px;
}

.checkoutSummaryTitle {
	font-size: 20px;
	font-weight: bold;
}

.checkoutSummaryText {
	margin: 10px auto;
}

.checkoutSummaryTotal {
	margin: 20px auto 0px auto;
	padding-top: 10px;
	border-top: 1px solid #ddd;
	display: table;
	width: 200px;
	font-size: 20px;
}

.checkoutSummaryTotalText {
	float: left;
}

.checkoutSummaryTotalPrice {
	float: right;
	font-weight: bold;
}


.checkoutSummaryMiddle {
	float: left;
	font-size: 15px;
	margin: 4px 0px;
}

.checkoutSummaryMiddlePrice {
	float: right;
	font-weight: bold;
	font-size: 15px;
	margin: 4px 0px;
}

.loginRegisterContainer {
	display: table;
	width: 90%;
	max-width: 410px;
	margin: 0 auto;
}

.loginTabButton {
	display: inline-block;
	width: 50%;
	padding: 20px 0px;
	margin: 20px auto;
	font-size: 20px;
	font-weight: bold;
	color: #001e39;
}

.loginTabActive {
	background: #ddd;
}

.loginTabButton:hover {
	cursor: pointer;
	background: #eee;
}

.loginTabActive:hover {
	background: #ddd;
}

.loginRegisterTab {
	display: none;
}

.loginRegisterTabActive {
	display: block;
}

.buttonLoginRegister {
	width: 200px;
	text-align: center;
	font-size: 17px;
	padding: 17px 0px;
	display: inline-block;
	vertical-align: top;
	margin: 20px auto;
}

.checkoutTerms {
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 20px;	
}

.checkoutTerms span {
	text-decoration: underline;
}

.checkoutTerms:hover {
	cursor: pointer;
}

.checkoutTermsContainer {
	display: none;
	font-size: 15px;
	margin-top: 10px;
	line-height: 19px;
	text-align: left;
	padding-left: 20px;
}

ol, ul {
    list-style: disc;
}


.thankyouContainer {
	width: 90%;
	margin: 0 auto;
	max-width: 500px;
}

.buttonThankyou {
	margin-top: 10px;
    font-size: 20px;
    padding: 15px 40px;
}

#checkBoxTerms {
	display: inline-block;
    width: initial;
	margin-right: 10px;
	
	zoom: 1.3;
	transform: scale(1.3);
	-ms-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-o-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.thankyouClickA {
	text-decoration: underline;
	color: #00D0FF;
	font-weight: bold;
}

.breadcrumbsContainer {
	padding: 15px 0px;
	margin-top: 40px;
	background: #eee;
}

.breadcrumbLink {
	color: #555;
	margin: 0px 5px;
	font-weight: bold;
}

.breadcrumbLink:hover {
	text-decoration: underline;
}


/*------------------------------------- MEDIA QUERIES -----------------------------*/
@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 900px) {
	.haederH1 {
		font-size: 40px;
	}

	.haederH2 {
		margin-top: 20px;
		margin-bottom: 35px;
		font-size: 23px;
	}

	.button {
		font-size: 20px;
		padding: 15px 40px;
	}

	.howItWorksHalf_1 {
		width: 100%;
	}

	.howItWorksHalf_2 {
		width: 100%;
		margin-top: 30px;
	}

	.buttonPricesSelectSeats {
		font-size: 17px;
		padding: 15px 30px;
	}

	.buttonPay {
		padding: 15px 0px;
	}
}


@media only screen and (max-width: 800px) {

	.sportsTabText {
		font-size: 17px;
	}

	.pricesTabTeamName {
		width: 25%;
	}

	.pricesTabPricesContainer {
		width: 45%;
	}

	.pricesTabButtonContainer {
		width: 30%;
	}
}

@media only screen and (max-width: 700px) {
	.pricesTab {
		display: inline-block;
		vertical-align: top;
		width: 45%;
		margin: 20px 10px;
	}

	.pricesTabTeamName {
		width: 100%;
		float: none;
		text-align: center;
	}

	.pricesTabPricesContainer {
		width: 100%;
		float: none;
		text-align: center;
	}

	.pricesTabButtonContainer {
		width: 100%;
		float: none;
		text-align: center;
	}

	.pricesTabTeamName {
		padding: 20px 0px 10px 0px;
		text-indent: 0;
	}

	.priceTabOurSmall {
		display: block;
	}
}

@media only screen and (max-width: 670px) {
	.sportsTab {
		border: 1px solid #ddd;
		display: table;
		width: 400px;
		max-width: 95%;
		margin: 10px auto;
	}

	.sportsContainer {
		border: none;
		width: 90%;
		margin: 20px auto 30px auto;
	}

	.sportsTabIcon {
		display: inline-block;
		vertical-align: top;
	}

	.sportsTabText {
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
		margin-top: 25px;
	}

	.haederH1 {
		font-size: 35px;
		line-height: 43px;
		text-shadow: 1px 2px #001E39;
	}

	.headerH1Br {
		display: initial;
	}

	.logo {
		margin: 20px auto;
	}

	.teamTab {
		max-width: 30%;
	}

	.seatsContainer {
		margin: 30px auto 20px auto;
	}

	.seatsStadiumContainer {
		display: block;
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
	}

	.seatsInfoContainer {
		display: block;
		width: 90%;
		max-width: 90%;
		margin: 20px auto 0px auto;
	}

	.testimonialTab {
		padding: 0;
	}
}

@media only screen and (max-width: 500px) {
	.sectionHeader {
		height: 70vh;
	}

	.newsletterText {
		margin-bottom: 15px;
	}

	.inputNewsletter {
		width: 300px;
		float: none;
		border-radius: 11px;
	}

	.buttonNewsletter {
		float: none;
		margin-top: 15px;
		border-radius: 11px;
	}

	.sportsTab {
		width: 100%;
		max-width: 95%;
	}

	.sectionPadding {
		padding: 40px 0px;
	}

	.teamTab {
		max-width: 40%;
	}

	.pricesTab {
		display: inline-block;
		vertical-align: top;
		width: 90%;
		margin: 20px auto;
	}

	.checkoutInputHalf {
		width: 49.1%;
		max-width: 100%;
	}

	.checkoutInputFull {
		width: 100%;
		max-width: 100%;
	}

	.buttonPay {
		width: 100%;
		margin-top: 20px;
	}
}